*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "AmazDooMLeft";
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #fff;
}
.header__wrapper{
    height: 100vh;
    overflow: hidden;
}
.line_top{
    background-color: #1c1c1ccc;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px 83px 14px 83px;
    z-index: 999;
    /* position: fixed; */
    top: 0;
    left: 0;
}
#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -999;
  }
.name_site{
    font-size: 100px;
    color: white;
    height: 90px;
    
}
.flexblock ul{
    list-style-type: none;
}
.header__flexblock-column{
    position: fixed;
    top: 0;
    font-size: 46px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.header__flexblock-column a{
    margin-left: 2rem;
    letter-spacing: 6px;
    border: #ffff 2px;
}
.line{
    width: 200px;
    height: 4px;
    background: #fff;
    margin-top: -15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: #ffff 2px;
}
.line, a{
    transition: .44s all;
}
.li_flexblock:hover .line{
    width: 500px ;
}
.li_flexblock:hover a{
    font-size:60px ;
}

.bck{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -999;
}


.evaluations{
    right: 0px;
    display: flex;
    padding: 10% 12% 0 0;
    position: absolute;
    flex-direction: column;
   ;
}
.evaluations p{
    font-family: "Montserratggit", sans-serif;
    font-size: 33px;
    text-transform: uppercase;
    color: #fff;
    padding:12px;
    
}
.title_evaluations{
    font-family: "Montserrat", sans-serif;
    font-size: 54px;
    text-transform: uppercase;
    color:#ffff;
    margin-bottom: 3rem;
}

.commit{
    background-color: #ffff;
    border-radius: 15px;
    height: auto;
    width: 591px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0 ;

}
.img95{
    width:50px;
    height: 50px;
    margin: 1rem 0 1rem 1rem   ;
}
.nickname{
    color: #3c1effcc;
    font-family: "Montserrat", sans-serif; 
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    
}
.score1 , .score{
    display: flex;
    align-items: center ;
    max-width: 400px;
}
.date{
    color: #A5A5A5;
    font-family: "Montserrat", sans-serif; 
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 0.5rem;
}
.men{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.commit_text{
    color: #000000;
    font-family: "Montserrat", sans-serif; 
    font-size: 20px;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 550;
}
.commit__name{
    display: flex;
    flex-direction: row;
    
}
.img_description{
    width: 100%;
}
.tab_description{
    /* background-image: url('../img/wp4400671.jpg'); */
    background-color: #1c1c1c;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.text{
    color: #ffff;
    font-family: "AmazDooMLeft";
    font-size: 300px;
    letter-spacing: 10px;
    
}
.description_content{  
    width: 100%; 
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 50px 50px 0 0;
}
.description_content_text{
    font-family: "Montserrat", sans-serif; 
    color: #ffff;
    font-size: 50px;
    width: 1100px;
    font-weight: 700;
}
.number{
    font-family: "AmazDooMLeft";
    font-size: 400px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    padding-right: 40px;
    
}
.flex_derec{
    display: flex;
    flex-direction: row;
}

.tab_kat_roka{
    background-color: #1c1c1c;
    
    width: 100%;
    height: 100vh;
    background-size: cover;
}



.footer{
    background-color: #660000;
    height: 100px;
    width: 100%;
}
.tab_kat_text{
    font-family: "Montserrat", sans-serif; 
    color: #ffff;
    font-size: 30px;
    width: 1100px;
    font-weight: 700;
}
.tab_demons{
    background-color: #1c1c1c;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.demons_text{
    font-family: "Montserrat", sans-serif; 
    color: #ffff;
    font-size: 30px;
    width: 1100px;
    font-weight: 700;
}
.tab_guns{
    background-color: #1c1c1c;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.img_shotgun{
    width: 200px;
    height: 100px;
}
.img_bfg-9000{
    width: 200px;
    height: 100px;
}
.img_gornilo{
    width: 100px;
    height: 200px;
}
.name_gun{
    font-family: "AmazDooMLeft";
    color: #ffff;
    font-size: 30px;
}
.discr_guns{
    font-family: "Montserrat", sans-serif; 
    color: #ffff;
    font-size: 25px;
    height: auto;
    width: 750px;
}
.gun_flex{
    display: flex;
    padding: 1rem;
}